<h1>Pins</h1>

<div id="pins" data-pins="<% json for @pin %>">
<% @pins.each do |pin| %>
	<h2> link_to pins.desription, pin %>
	<span class="description">(<%= pluralize(pin.description.size, 'description')%>)</span>
	</h2>
	<div class="info">
		<%= pin.title.description %>
		</div>
		<div class="content"><%= pin.title %></div>
		<% end %>
		</div>

