
<div id="map">I'm a map</div>
   
   <%= link_to new_user_session_path  %>
   
   <%= link_to new_user_registration_path %>

 
 <%= link_to  edit_user_registration_path %>
 
 <%= link_to destroy_user_session_path, method: :delete%>

